$base-grey: #ECECEC;
$dark-grey: #717171;
$text-grey: #1F1F1F;
$text-grey-middle: #494949;
$text-grey-light: #B0B0B0;
$form-input-border: #E8E8E8;
$form-input-placeholder: #6b6b6b;
$base-red: #8C0014;
